* {
    font-family: Tahoma, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

@media (min-width: 400px) {

}

body {
    min-height: 100vh;
    overflow-x: hidden ;



}
.container {
    position: relative;


}

.navigation {
    position: fixed;
    background-color: #1a73e8;
    transition: 0.5s;
    height: 100%;
    width: 300px;
    overflow: hidden;
    border-left: 10px solid #1a73e8;
}
.navigation.active {
    width: 80px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}


.navigation ul .nav-item:hover ,
.navigation ul .nav-item.hovered{
background-color: #ffffff ;

}

.navigation ul li:nth-child(1) {
    margin-top: 5px;
    margin-bottom: 30px;
    pointer-events: none;

}
.navigation ul li:nth-child(1) a .title{
    font-family: 'Alumni Sans Inline One', sans-serif;
    font-size: 40px;

}




.navigation ul li a {
    display: block;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: flex;
    color: #ffffff;


}

.navigation ul .nav-item:hover a,
.navigation ul .nav-item.hovered a {
    color:  #1a73e8;
}

.navigation ul li a .icon {
    display: block;
    line-height: 60px;
    position: relative;
    height: 60px ;
    min-width: 60px;
    text-align: center;
}


.navigation ul li a img {
    max-height: 60px;
    max-width: 60px;
}

.navigation ul li a .title {
    padding: 0px 10px;
    text-align: start;
    display: block;
    height: 60px;
    white-space: nowrap;
    line-height: 60px;


}

.navigation ul .nav-item:hover a::before,
.navigation ul .nav-item.hovered a::before{
    content: "";
    position: absolute;
    top: -50px;
    box-shadow: 35px 35px 0 10px #ffffff ;
    /*top: -50px;*/
    right: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /*background-color: black;*/
    pointer-events: none;


}

.navigation ul .nav-item:hover a::after,
.navigation ul .nav-item.hovered a::after{
    content: "";
    position: absolute;
    /*top: -50px;*/
    box-shadow: 35px -35px 0px 10px #ffffff ;
    bottom: -50px;
    right: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    pointer-events: none;
}
/*top-bar */
.main {
    position: absolute;
    min-height: 100vh;
    width: calc(100% -  300px);
    left: 300px;
    transition: 0.5s;
}
.main.active {
    width: calc(100% - 80px);
    left: 80px;

}
.top-bar {
    display: flex;

    width: 100%;

    justify-content: space-between;
    align-items: center;
    background-color: #1a73e8;;
    height: 60px;
    border-bottom: solid 1px #8b8b8b;

}

.top-bar .toggle  {
   position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}


.top-bar .toggle i {
    font-size: 2.5rem;
    color: #ffffff;
}

.top-bar .search {
    position: relative;
    flex: 50px;
    text-align: center;



}

.top-bar .search input {
    width: 40%;
    height: 30px;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding-left: 20px;
    padding-right: 30px;
    border-radius: 6px;
    font-family: Tahoma, Arial, sans-serif;
}


.top-bar .search button {
    position: absolute;
    right: 25%;
    border: none;
    /*background-color: #ff0000;*/
    transform: translateX(-40px);
    border-top-right-radius: 6px ;
    border-bottom-right-radius: 6px ;
    background-color: #ffffff;
    color: #CACACA;

    /*transform: translateX(-70%);*/


}
.top-bar .search button i {
    padding: 5px;
    font-size: 20px;



}

.top-bar .search input:focus + button{
    background-color: #ff0000;
    color: #ffffff;
}

.top-bar .search input:focus {
    border-bottom: solid 2px #CACACA;
}


.top-bar .user img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    /*margin-right: 10px;*/
    cursor: pointer;
}

.top-bar .user button {
    background-color: #1a73e8;
    border: none;
    color: #ffffff;
    font-size: 10px;
}

/*main - contain*/
.main .title-main  {
    background-color: #f5f0ea;
}

.main .card-box {
    display: flex;
    justify-content: center;
    flex: 1;


}

.main .card {
    text-align: center;
    box-shadow: 0px 0px 3px 3px #CACACA;
}

.main .card:hover {
    background-color: #1a73e8 ;
    color: #ffffff;
}

.main .card-icon i {

    font-size: 50px;
    font-weight: bold;
    text-align: center;
    justify-content: center;

}

.main .card-icon p {

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    justify-content: center;

}

.main .card-text {
    font-size: 15px;
}
 .main-content-se {
    display: grid;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 7px 25px #8b8b8b;

}


.main .table-order .order-header, .main .table-user .user-header {
    display: flex;
    justify-content: space-between;
}

.title-f {
   font-weight: bold;
}





.line-split {
    color:#1a73e8;
    border-width: 3px;
}

.table-hover tbody tr:hover {
    background-color: #1a73e8 ;
}

.table-order .status-cancel {
    padding: 4px;
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 6px;
}

.table-order .status-success{
    padding: 4px;
    background-color: #4d8a54;
    color: #ffffff;
    border-radius: 6px;
}

.table-order .status-deliver {
    padding: 4px;
    background-color: #0171d3;
    color: #ffffff;
    border-radius: 6px;
}

.table-order .status-process {
    padding: 4px;
    background-color: #ffcc00;
    color: #ffffff;
    border-radius: 6px;
}

.table-user table tr:hover {
    background-color: #ffcc00;
}

.chart-product {
 text-align: center;

}




