body{
    margin: 0;
    padding: 0;
    font-size: 15px;
}
/*MenuBar*/
.menu {
    background: rgba(250, 244, 244,0.92);
    border-bottom: 1px solid rgba(155, 158, 162, 0.7);
}
.menu ul a{
    text-decoration: none;
    color: #797974;
}
.menu ul li {
    list-style-type: none;
}

.menu ul .sanpham .sub_menu{
    left: 0%;
    padding: 0;
    top: 100%;
    border: 1px;
    display: none;
}
.menu ul li.times{
    border-left: #8b8b8b solid 1px;
}
.menu ul li.item:hover {
    background: red;
}
.menu ul li.item:hover a{
    color: white;
}
.menu ul li.sanpham:hover .sub_menu{
    display: block;
}
.menu ul li.sanpham .sub_menu li a{
    color: #797974;
}
.menu ul li.sanpham .sub_menu li a:hover{
    color: white;
    background: red;
    font-size: 17px;
}
.menu ul li.search i{
    background: red;
    padding: 4%;
}
.menu ul li.search {
    border-left: 1px solid #8b8b8b;
}
.menu ul li.search input{
    padding-left: 10px;
    width: 85%;
    border: none;
    height: 100%;
}
.search button{
    padding: 12px;
    border: none;
    background: red;
}
.menu ul li.login a:hover {
    color: red;
}

.menu ul li.cart  a:hover {
    color: red;

}

 /*
 Đây la noi css nè các ban
  */
.menu ul li:nth-child(8) {
    position: relative;
}

.menu ul li .list-cart {
    position: absolute;
    background-color: #1a73e8;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
}

/*.menu ul li .list-cart ul li {*/
/*    display: flex;*/
/*}*/

.menu ul li .list-cart .product-image {
    width: 80px;
}

.menu ul li .list-cart .product-image img {
    border: 0;
    max-width: 100%;
    height: auto;
}







/*Carousel*/
.carousel-inner .carousel-item img {
    height: 60vh;
    object-fit: cover;
    filter: brightness(40%);
    -webkit-filter: brightness(40%);
}
.carousel-inner .carousel-item h5 {
    font-size: 40px;
    font-family: "Dosis";
}
.carousel-inner .carousel-item p {
    font-size: 40px;
    font-family: "Dosis";
    font-style: italic;
}
.content-product .product-title {
    font-size: 25px;
    font-family: Tahoma;
}
/*css_product*/
.product {
    margin-top: 4rem;
}
.product .title_t p:hover {
    color: red;
}
.product .solid_t {
    height: 1px;
    width: 20%;
    background: #8b8b8b;
}
.product .sp ul .itemrow a p{
    color: black;
}
.product .sp ul .itemrow a p:hover{
    color: red;
}
.product .sp ul .itemrow .item {
    border: 1px solid #e1e1e1;
    width: 13%;
}
.product .sp ul li .item a{
    text-decoration: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height:120px;
    text-align: center;
}
.product .sp ul li .sp_t1{
    margin-left: 14%;
}
.product .sp ul .product_list img{
    width:80%;
    margin-top: 10%;
}
.product .sp ul .product_list img:hover{
    width: 85%;
    height: 100%;
}

.product .sp ul li {
    margin-bottom: 20px;
}
.product .sp ul li p {
    margin-bottom: 0;
}

.product .load_produce{
    background: #8b8b8b;
    width: 13%;
    padding: 20px;
    margin: auto;
    cursor: pointer;
}

.product .load_produce:hover{
    background: red;
}
/*BiKip*/
.bikip .solid_bk {
    width: 20%;
    height: 1px;
    background: black;
}
.bikip .title_bk p:hover {
    color: red;
}

/*Footer*/
#footer {
    /*background: linear-gradient(90deg, rgba(80, 82, 84, 0.7), rgba(44, 43, 43, 0.7)),*/
    /*url("../../../images/background.jpg");*/

    background-repeat: no-repeat;
    background-size: 100%;

}
#footer ul li p{
    color: white;
}
#footer ul li {
    list-style-type: none;
}
#footer ul .contact .content {
    color: #8fcc8f;
}
#footer .solid{
    width: 70%;
    height: 2px;
    background: #858282;
}
#footer .content_end p{
    color: rgba(245, 241, 241, 0.7);
}

/**/
#dangxuat {
    padding: 0;
    display: none;
}

#dangxuat a:hover {
    background: red;
    color: white;
}

#dangxuat a {
    color: black;
    padding-right: 25%;
    padding-left: 25%;
}

.menu ul li.login:hover #dangxuat {
    display: block;
}
/*    add product*/
li {
    list-style: none;
}
.products {
    justify-content: space-evenly;
}
.products .product_list .item_product a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7em;
}

.products .product_list .item_product a.image {
    height: 10em;
}

.products .product_list .item_product {
    border: 1px solid #e1e1e1;
    text-align: center;
    position: relative;
}

.products .product_list .item_product a p {
    color: black;
}

.products .product_list .item_product a p:hover {
    color: red;
}

.products .product_list .item_product p {
    color: red;
}

.products .product_list .item_product .add-to-cart {
    background: #8b8b8b;
    font-size: 1rem;
    padding: 1rem 0.8rem;
    text-align: center;
    color: white;
    cursor: pointer;
    visibility: hidden;
}

.products .product_list .item_product:hover .add-to-cart {
    visibility: visible;
}

.products .product_list .item_product .add-to-cart:hover {
    background: red;
}
.add-to-cart {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.product_list {
    width: 18%;
    margin-top: 1rem;
    margin-bottom: 1.5em;
}
.item_product {
    height: 23em;
}
.product .load_produce a{
    text-decoration: none;
    color: white;
}
.content_bk .item {
    width: 40%;
}
.product .item_product img{
    height: 80%;
}
.content_bk .item img{
    height: 60%;
}