<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta name="view-port" content="width=device-width, initial-scale=1.0">-->
    <title>Sign Up Form</title>
    <!--    CSS -->

    <link rel="stylesheet" href="../css/signup.css">

    <!-- Boxicons Css-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>


<section class="container forms">

    <!--SIGN UP-->

    <div class="form signup">
        <div class="main-logo">
            <img src="../../images/logo.png" alt="" class="logo">
        </div>

        <div class="form-content">
            <header>Đăng Ký</header>
            <!--    </div>-->
            <form action="#">
                <div class="field input-field">
                    <input type="email" placeholder="Nhập email" class="input">
                    <i class='bx bx-envelope mail-icon'></i>
                </div>
                <div class="field input-field">
                    <input type="password" placeholder="Nhập mật khẩu" class="password">
                    <i class='bx bx-key key-icon'></i>
                    <i class='bx bx-hide eye-icon'></i>

                </div>

                <div class="field input-field">

                    <input type="password" placeholder="Xác thực mật khẩu" class="password">
                    <i class='bx bx-key key-icon'></i>
                    <i class='bx bx-hide eye-icon'></i>

                </div>

                <div class="field button-field">
                    <button>Đăng Ký</button>
                </div>

            </form>

            <div class="form-link">
                <span>Bạn đã có tài khoản? <a href="login.html" class="login-link">Đăng Nhập</a></span>
            </div>


        </div>
        <div class="line"></div>

        <div class="media-option">
            <div class="media-sub">
                <a href="" class="field facebook">
                    <i class='bx bxl-facebook facebook-icon'></i>

                </a>
            </div>
            <div class="media-sub">
                <a href="" class="field google">
                    <i class='bx bxl-google google-icon' ></i>
                </a>
            </div>

        </div>


    </div>
</section>



</body>
</html>