<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../../MainPage/css/mainpage.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> <!--icon-->
    <title>Cửa Hàng HandMade</title>
</head>
<body>

<!--menu-->
<div id="menubar" class="menu sticky-top" >
    <ul class="d-flex m-0">

        <li class="logo me-4">
           <img src="../../images/logo.png" style="width: 12vh">

        </li>
        <li class="item times p-4">
            <a href="#carouselExampleCaptions">Trang chủ</a>
        </li>
        <li class="item sanpham p-4 dropdown">
            <a href="#"  class = "title_sp">Sản phẩm <i class="fa-solid fa-caret-down"></i></a>
            <ul class="sub_menu dropdown-menu">
                <li>
                    <a href="#thiep" class="item sp1 dropdown-item " >Thiệp HandMade Vintage</a>
                </li>
                <li>
                    <a href="#anh" class="item sp2 dropdown-item" >Scrapbook,Album Ảnh</a>
                </li>
                <li>
                    <a href="#sotay" class="item sp3 dropdown-item" >Sổ ghi chép, sổ tay</a>
                </li>

            </ul>
        </li>
        <li class="item bikip p-4">
            <a href="#bikip">Bí kíp làm đồ HandMade</a>
        </li>
        <li class="item footers p-4">
            <a href="#footer">Về chúng tôi</a>
        </li>
        <li class="search d-flex p-4">

            <i class="fa-solid fa-magnifying-glass" style="color: white;"></i>
            <input type="text" placeholder="Bạn tìm gì...">

        </li>
        <li class="login p-4">
            <i class="fa-solid fa-user" style="color: #496088;"></i>
            <a href="../../Login/view_login/login.html">Đăng Nhập</a>
        </li>
        <li class="cart p-4 dropdown">
            <i class="fa-solid fa-cart-shopping" style="color: #2a3241;"></i>
            <a href="#">Giỏ Hàng</a>
        </li>
    </ul>
</div>
<!--carousel-->
<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://images.pexels.com/photos/1303081/pexels-photo-1303081.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 class=""> KÍNH CHÀO QUÝ KHÁCH!</h5>
                <p>Mỗi sản phẩm handmade là một phần trái tim của ai đó.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.pexels.com/photos/157888/fashion-glasses-go-pro-female-157888.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>ĐỘC - ĐẸP - BỀN - GIÁ PHÙ HỢP</h5>
                <p>Chế tạo những sản phẩm độc đáo, với tình yêu và sự tận tụy</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.pexels.com/photos/1424464/pexels-photo-1424464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>CÙNG NHAU KHÁM PHÁ NÀO!</h5>
                <p>Những sản phẩm đang nóng lòng đợi bạn rinh về nè !</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--hoạt động carousel-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

<!--SanPham1-->

    <div class="product" id="thiep">
        <div class="title_t">
            <p class="text-center fs-5 fw-bold">THIỆP HANDMADE VINTAGE</p>
        </div>
        <div class="solid_t mb-3 m-auto"></div>
        <div class="sp" id="sp_thiep">
            <ul>
                <li class="itemrow li1 d-flex">
                    <div class="item sp_t1  me-4">
                        <a href="#"><img src="../../images/ThiepHandMade1.webp"></a>
                        <a href="#"><p class="text-center">Thiệp Valentine ý nghĩa</p></a>
                        <p class="text-center text-danger">70.000₫</p>
                        <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                    </div>
                    <div class="item sp_t2 me-4">
                        <a href="#"><img src="../../images/ThiepHandMade2.webp"></a>
                        <a href="#"><p class="text-center">Bì thư trơn đẹp Vintage</p></a>
                        <p class="text-center text-danger">35.000₫</p>
                        <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                    </div>
                    <div class="item sp_t3 me-4">
                        <a href="#"><img src="../../images/ThiepHandMade3.webp"></a>
                        <a href="#"><p class="text-center">Thiệp chúc mừng THAT TIME</p></a>
                        <p class="text-center text-danger">70.000₫</p>
                        <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                    </div>
                    <div class="item sp_t4 me-4">
                        <a href="#"><img src="../../images/ThiepHandMade4.webp"></a>
                        <a href="#"><p class="text-center">Thiệp Handmade Vintage Beauty & the White</p></a>
                        <p class="text-center text-danger">70.000₫</p>
                        <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                    </div>
                    <div class="item sp_t5 ">
                        <a href="#"><img src="../../images/ThiepHandMade5.webp"></a>
                        <a href="#"><p class="text-center">Thiệp Handmade Film De Paris</p></a>
                        <p class="text-center text-danger">70.000₫</p>
                        <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                    </div>
                </li>
                <li class="itemrow li2 d-flex">
                    <div class="item sp_t1  me-4">
                        <a href="#"><img src="../../images/ThiepHandMade6.webp"></a>
                        <a href="#"><p class="text-center">Thiệp chúc mừng Black & White</p></a>
                        <p class="text-center text-danger">39.000₫</p>
                        <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                    </div>
                    <div class="item sp_t2 me-4">
                        <a href="#"><img src="../../images/ThiepHandMade7.webp"></a>
                        <a href="#"><p class="text-center">Thiệp chúc mừng Sweet Mint</p></a>
                        <p class="text-center text-danger">70.000₫</p>
                        <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                    </div>
                    <div class="item sp_t3 me-4">
                        <a href="#"><img src="../../images/ThiepHandMade8.webp"></a>
                        <a href="#"><p class="text-center">Thiệp handmade Amazing Carton</p></a>
                        <p class="text-center text-danger">39.000₫</p>
                        <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                    </div>
                    <div class="item sp_t4 me-4">
                        <a href="#"><img src="../../images/ThiepHandMade9.webp"></a>
                        <a href="#"><p class="text-center">Thiệp handmade lớn Beauty & the White</p></a>
                        <p class="text-center text-danger">70.000₫</p>
                        <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                    </div>
                    <div class="item sp_t5 ">
                        <a href="#"><img src="../../images/ThiepHandMade11.webp"></a>
                        <a href="#"><p class="text-center">Thiệp dấu sáp mini</p></a>
                        <p class="text-center text-danger">19.000₫</p>
                        <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                    </div>
                </li>
                <li class="itemrow li3 d-flex">
                    <div class="item sp_t1  me-4">
                        <a href="#"><img src="../../images/ThiepHandMade12.webp"></a>
                        <a href="#"><p class="text-center">Thiệp handmade, thiệp chúc mừng đẹp</p></a>
                        <p class="text-center text-danger">39.000₫</p>
                        <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                    </div>
                    <div class="item sp_t2 me-4">
                        <a href="#"><img src="../../images/ThiepHandMade13.webp"></a>
                        <a href="#"><p class="text-center">Thiệp gỗ khắc chủ đề tình yêu - làm thiệp theo yêu cầu</p></a>
                        <p class="text-center text-danger">39.000₫</p>
                        <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                    </div>
                    <div class="item sp_t3 me-4">
                        <a href="#"><img src="../../images/ThiepHandMade14.webp"></a>
                        <a href="#"><p class="text-center">Thiệp handmade Vintage Film</p></a>
                        <p class="text-center text-danger">39.000₫</p>
                        <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                    </div>
                    <div class="item sp_t4 me-4">
                        <a href="#"><img src="../../images/ThiepHandMade15.webp"></a>
                        <a href="#"><p class="text-center">Thiệp handmade vintage vải bố</p></a>
                        <p class="text-center text-danger">39.000₫</p>
                        <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                    </div>
                    <div class="item sp_t5 ">
                        <a href="#"><img src="../../images/ThiepHandMade16.webp"></a>
                        <a href="#"><p class="text-center">Thiệp gỗ Jigsaws</p></a>
                        <p class="text-center text-danger">39.000₫</p>
                        <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                    </div>
                </li>
                <li class="itemrow li4 d-flex">
                    <div class="item sp_t1  me-4">
                        <a href="#"><img src="../../images/ThiepHandMade17.webp"></a>
                        <a href="#"><p class="text-center">Thiệp gỗ Other Half</p></a>
                        <p class="text-center text-danger">39.000₫</p>
                        <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                    </div>
                    <div class="item sp_t2 me-4">
                        <a href="#"><img src="../../images/ThiepHandMade18.webp"></a>
                        <a href="#"><p class="text-center">Thiệp chúc mừng handmade Blue Pastel</p></a>
                        <p class="text-center text-danger">39.000₫</p>
                        <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                    </div>
                    <div class="item sp_t3 me-4">
                        <a href="#"><img src="../../images/ThiepHandMade19.webp"></a>
                        <a href="#"><p class="text-center">Thiệp vintage Retro Clock</p></a>
                        <p class="text-center text-danger">30.000₫</p>
                        <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                    </div>
                    <div class="item sp_t4 me-4">
                        <a href="#"><img src="../../images/ThiepHandMade20.webp"></a>
                        <a href="#"><p class="text-center">Thiệp - tag handmade vintage đơn giản</p></a>
                        <p class="text-center text-danger">30.000₫</p>
                        <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                    </div>
                    <div class="item sp_t5 ">
                        <a href="#"><img src="../../images/ThiepHandMade21.webp"></a>
                        <a href="#"><p class="text-center">Thiệp chúc mừng sinh nhật độc đáo</p></a>
                        <p class="text-center text-danger">49.000₫</p>
                        <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                    </div>
                </li>
                <li class="itemrow li5 d-flex">
                    <div class="item sp_t1  me-4">
                        <a href="#"><img src="../../images/ThiepHandMade22.webp"></a>
                        <a href="#"><p class="text-center">Thiệp handmade vintage chủ đề tình yêu</p></a>
                        <p class="text-center text-danger">49.000₫</p>
                        <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                    </div>
                    <div class="item sp_t2 me-4">
                        <a href="#"><img src="../../images/ThiepHandMade23.webp"></a>
                        <a href="#"><p class="text-center">Thiệp tặng bạn thân - Thiệp vintage retro</p></a>
                        <p class="text-center text-danger">49.000₫</p>
                        <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                    </div>
                    <div class="item sp_t3 me-4">
                        <a href="#"><img src="../../images/ThiepHandMade24.webp"></a>
                        <a href="#"><p class="text-center">Thiệp dấu sáp</p></a>
                        <p class="text-center text-danger">30.000₫</p>
                        <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                    </div>
                    <div class="item sp_t4 me-4">
                        <a href="#"><img src="../../images/ThiepHandMade25.webp"></a>
                        <a href="#"><p class="text-center">Bì thư vintage Tem Việt</p></a>
                        <p class="text-center text-danger">35.000₫</p>
                        <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                    </div>
                    <div class="item sp_t5 ">
                        <a href="#"><img src="../../images/ThiepHandMade27.webp"></a>
                        <a href="#"><p class="text-center">Thiệp xếp độc đáo</p></a>
                        <p class="text-center text-danger">49.000₫</p>
                        <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                    </div>
                </li>
            </ul>
            <div class="load_produce text-center mt-5">
                <a><span>Load thêm sản phẩm</span></a>
            </div>
        </div>
    </div>

<!--Sp2-->

<div class="product" id="anh">
    <div class="title_t">
        <p class="text-center fs-5 fw-bold">SCRAPBOOK,ALBUM ẢNH HANDMADE VINTAGE</p>
    </div>
    <div class="solid_t mb-3 m-auto"></div>
    <div class="sp" id="sp_anh">
        <ul>
            <li class="itemrow li1 d-flex">
                <div class="item sp_t1  me-4">
                    <a href="#"><img src="../../images/anh1.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook album ảnh handmade Beauty & the White</p></a>
                    <p class="text-center text-danger">649.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t2 me-4">
                    <a href="#"><img src="../../images/anh2.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook album ảnh handmade Retro Clock</p></a>
                    <p class="text-center text-danger">649.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t3 me-4">
                    <a href="#"><img src="../../images/anh3.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook album ảnh handmade Film de Paris</p></a>
                    <p class="text-center text-danger">649.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t4 me-4">
                    <a href="#"><img src="../../images/anh4.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook album ảnh handmade Sweet Mint</p></a>
                    <p class="text-center text-danger">649.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t5 ">
                    <a href="#"><img src="../../images/anh5.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook album ảnh handmade That Time</p></a>
                    <p class="text-center text-danger">649.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
            </li>
            <li class="itemrow li2 d-flex">
                <div class="item sp_t1  me-4">
                    <a href="#"><img src="../../images/anh6.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook Fly album That Time</p></a>
                    <p class="text-center text-danger">329.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t2 me-4">
                    <a href="#"><img src="../../images/anh7.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook album ảnh 6x9 handmade nhỏ MINI LOVECARDS</p></a>
                    <p class="text-center text-danger">109.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t3 me-4">
                    <a href="#"><img src="../../images/anh8.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook DIY Album ảnh dán Forever Together</p></a>
                    <p class="text-center text-danger">220.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t4 me-4">
                    <a href="#"><img src="../../images/anh9.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook DIY Album ảnh dán Live. Laugh. Love</p></a>
                    <p class="text-center text-danger">220.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t5 ">
                    <a href="#"><img src="../../images/anh10.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook Fly album ảnh handmade Beauty & the White</p></a>
                    <p class="text-center text-danger">329.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
            </li>
            <li class="itemrow li3 d-flex">
                <div class="item sp_t1  me-4">
                    <a href="#"><img src="../../images/anh11.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook DIY Album ảnh dán Film de Paris</p></a>
                    <p class="text-center text-danger">220.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t2 me-4">
                    <a href="#"><img src="../../images/anh12.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook Fly album Retro Clock</p></a>
                    <p class="text-center text-danger">329.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t3 me-4">
                    <a href="#"><img src="../../images/anh13.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook DIY Album ảnh dán Blue Pastel</p></a>
                    <p class="text-center text-danger">220.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t4 me-4">
                    <a href="#"><img src="../../images/anh14.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook DIY Album ảnh dán Retro Clock</p></a>
                    <p class="text-center text-danger">220.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t5 ">
                    <a href="#"><img src="../../images/anh15.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook DIY Album ảnh dán MEMORY</p></a>
                    <p class="text-center text-danger">220.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
            </li>
            <li class="itemrow li4 d-flex">
                <div class="item sp_t1  me-4">
                    <a href="#"><img src="../../images/anh16.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook Fly album ảnh handmade Film de Paris</p></a>
                    <p class="text-center text-danger">329.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t2 me-4">
                    <a href="#"><img src="../../images/anh17.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook Fly album ảnh handmade Sweet Mint</p></a>
                    <p class="text-center text-danger">329.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t3 me-4">
                    <a href="#"><img src="../../images/anh18.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook cho bé gái Princess</p></a>
                    <p class="text-center text-danger">649.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t4 me-4">
                    <a href="#"><img src="../../images/anh19.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook trang trí handmade Memory trắng</p></a>
                    <p class="text-center text-danger">549.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t5 ">
                    <a href="#"><img src="../../images/anh20.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook Blue Pastel - Album ảnh handmade</p></a>
                    <p class="text-center text-danger">649.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
            </li>
            <li class="itemrow li5 d-flex">
                <div class="item sp_t1  me-4">
                    <a href="#"><img src="../../images/anh21.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook vintage cao cấp</p></a>
                    <p class="text-center text-danger">1.620.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t2 me-4">
                    <a href="#"><img src="../../images/anh22.webp"></a>
                    <a href="#"><p class="text-center">Album ảnh vintage - Scrapbook My Boy</p></a>
                    <p class="text-center text-danger">549.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t3 me-4">
                    <a href="#"><img src="../../images/anh23.webp"></a>
                    <a href="#"><p class="text-center">Album ảnh vintage THE JOURNEY OF LOVE</p></a>
                    <p class="text-center text-danger">649.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t4 me-4">
                    <a href="#"><img src="../../images/anh24.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook album ảnh handmade gáy lò xo</p></a>
                    <p class="text-center text-danger">549.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t5 ">
                    <a href="#"><img src="../../images/anh25.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook LIVE.LAUGH.LOVE</p></a>
                    <p class="text-center text-danger">649.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
            </li>
        </ul>
        <div class="load_produce text-center mt-5">
            <a><span>Load thêm sản phẩm</span></a>
        </div>
    </div>
</div>
<!--Sp2-->

<div class="product" id="sotay">
    <div class="title_t">
        <p class="text-center fs-5 fw-bold">SỔ GHI CHÉP, SỔ TAY HANDMADE VINTAGE</p>
    </div>
    <div class="solid_t mb-3 m-auto"></div>
    <div class="sp" id="sp_sotay">
        <ul>
            <li class="itemrow li1 d-flex">
                <div class="item sp_t1  me-4">
                    <a href="#"><img src="../../images/so1.webp"></a>
                    <a href="#"><p class="text-center">Sổ da cao cấp mã khóa</p></a>
                    <p class="text-center text-danger">750.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t2 me-4">
                    <a href="#"><img src="../../images/so2.webp"></a>
                    <a href="#"><p class="text-center">Sổ da cao cấp</p></a>
                    <p class="text-center text-danger">285.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t3 me-4">
                    <a href="#"><img src="../../images/so3.webp"></a>
                    <a href="#"><p class="text-center">Sổ tay đa năng da bò handmade</p></a>
                    <p class="text-center text-danger">320.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t4 me-4">
                    <a href="#"><img src="../../images/so4.webp"></a>
                    <a href="#"><p class="text-center">Sổ tay nhỏ mini cute, dễ thương A6</p></a>
                    <p class="text-center text-danger">199.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t5 ">
                    <a href="#"><img src="../../images/so5.webp"></a>
                    <a href="#"><p class="text-center">Sổ tay cute Pharaoh</p></a>
                    <p class="text-center text-danger">159.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
            </li>
            <li class="itemrow li2 d-flex">
                <div class="item sp_t1  me-4">
                    <a href="#"><img src="../../images/anh6.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook Fly album That Time</p></a>
                    <p class="text-center text-danger">329.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t2 me-4">
                    <a href="#"><img src="../../images/anh7.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook album ảnh 6x9 handmade nhỏ MINI LOVECARDS</p></a>
                    <p class="text-center text-danger">109.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t3 me-4">
                    <a href="#"><img src="../../images/anh8.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook DIY Album ảnh dán Forever Together</p></a>
                    <p class="text-center text-danger">220.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t4 me-4">
                    <a href="#"><img src="../../images/anh9.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook DIY Album ảnh dán Live. Laugh. Love</p></a>
                    <p class="text-center text-danger">220.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t5 ">
                    <a href="#"><img src="../../images/anh10.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook Fly album ảnh handmade Beauty & the White</p></a>
                    <p class="text-center text-danger">329.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
            </li>
            <li class="itemrow li3 d-flex">
                <div class="item sp_t1  me-4">
                    <a href="#"><img src="../../images/anh11.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook DIY Album ảnh dán Film de Paris</p></a>
                    <p class="text-center text-danger">220.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t2 me-4">
                    <a href="#"><img src="../../images/anh12.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook Fly album Retro Clock</p></a>
                    <p class="text-center text-danger">329.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t3 me-4">
                    <a href="#"><img src="../../images/anh13.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook DIY Album ảnh dán Blue Pastel</p></a>
                    <p class="text-center text-danger">220.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t4 me-4">
                    <a href="#"><img src="../../images/anh14.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook DIY Album ảnh dán Retro Clock</p></a>
                    <p class="text-center text-danger">220.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t5 ">
                    <a href="#"><img src="../../images/anh15.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook DIY Album ảnh dán MEMORY</p></a>
                    <p class="text-center text-danger">220.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
            </li>
            <li class="itemrow li4 d-flex">
                <div class="item sp_t1  me-4">
                    <a href="#"><img src="../../images/anh16.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook Fly album ảnh handmade Film de Paris</p></a>
                    <p class="text-center text-danger">329.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t2 me-4">
                    <a href="#"><img src="../../images/anh17.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook Fly album ảnh handmade Sweet Mint</p></a>
                    <p class="text-center text-danger">329.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t3 me-4">
                    <a href="#"><img src="../../images/anh18.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook cho bé gái Princess</p></a>
                    <p class="text-center text-danger">649.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t4 me-4">
                    <a href="#"><img src="../../images/anh19.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook trang trí handmade Memory trắng</p></a>
                    <p class="text-center text-danger">549.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t5 ">
                    <a href="#"><img src="../../images/anh20.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook Blue Pastel - Album ảnh handmade</p></a>
                    <p class="text-center text-danger">649.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
            </li>
            <li class="itemrow li5 d-flex">
                <div class="item sp_t1  me-4">
                    <a href="#"><img src="../../images/anh21.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook vintage cao cấp</p></a>
                    <p class="text-center text-danger">1.620.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t2 me-4">
                    <a href="#"><img src="../../images/anh22.webp"></a>
                    <a href="#"><p class="text-center">Album ảnh vintage - Scrapbook My Boy</p></a>
                    <p class="text-center text-danger">549.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t3 me-4">
                    <a href="#"><img src="../../images/anh23.webp"></a>
                    <a href="#"><p class="text-center">Album ảnh vintage THE JOURNEY OF LOVE</p></a>
                    <p class="text-center text-danger">649.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t4 me-4">
                    <a href="#"><img src="../../images/anh24.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook album ảnh handmade gáy lò xo</p></a>
                    <p class="text-center text-danger">549.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
                <div class="item sp_t5 ">
                    <a href="#"><img src="../../images/anh25.webp"></a>
                    <a href="#"><p class="text-center">Scrapbook LIVE.LAUGH.LOVE</p></a>
                    <p class="text-center text-danger">649.000₫</p>
                    <div class="add-to-cart"><span>Thêm vào giỏ hàng</span></div>
                </div>
            </li>
        </ul>
        <div class="load_produce text-center mt-5">
            <a><span>Load thêm sản phẩm</span></a>
        </div>
    </div>
</div>

<!--Bí Kíp-->

<div class="bikip mt-5" id="bikip">
    <div class="title_bk">
        <p class="text-center fw-bold fs-4">BÍ KÍP LÀM ĐỒ HANDMADE</p>
    </div>
    <div class="solid_bk mb-5 m-auto"></div>
    <div class="content_bk">
        <ul class="d-flex ">
            <li class="item content1 col-3 me-3" >
                <a href="#"><img src="../../images/bikip1.webp" width="100%" ></a>
                <a href="#"><h6 class="fw-bold text-center mt-3">Cách cắm hoa khô đẹp trong 5 phút</h6></a>
                <p>Hoa khô hay còn gọi là hoa không tàn, hoa vĩnh cửu luôn có nét đẹp riêng.
                    Để tăng thêm sự độc đáo và giá trị thì cách cắm hoa...
                </p>
            </li>
            <li class="item content2 col-3 mx-3">
                <a href="#"><img src="../../images/bikip2.webp" width="100%"></a>
                <a href="#"><h6 class="fw-bold text-center mt-3">Cách làm trang trí thiệp hoa khô handmade siêu dễ</h6></a>
                <p>Thiệp hoa khô tự nhiên có nét quyến rũ thú vị, thể hiện sự chỉnh chu của người tặng.
                    Tự tay làm chiếc thiệp hoa khô sẽ thật ý nghĩa...
                </p>
            </li>
            <li class="item content3 col-3 me-5 ms-3">
                <a href="#"><img src="../../images/bikip3.webp" width="98%"></a>
                <a href="#"><h6 class="fw-bold text-center mt-3">Hướng dẫn cách làm scrapbook album ảnh handmade siêu đơn giản</h6></a>
                <p>
                    Scrapbook là một dạng nhật ký ảnh, album hình được làm, trang trí thủ công có nội dung
                    ,câu chuyện hoàn chỉnh.Thời gian, sự kiện được ghi chú,...
                </p>
            </li>
        </ul>
    </div>
</div>
<!--    Footer-->
<div id="footer">
    <ul class="d-flex ">
        <li class="content col-6" >
            <img src="../../images/logo.png" width="30%">
            <p class="me-5">
                HEADQUARTERS là cửa hàng về đồ HANDMADE về đồ trang trí, phụ kiện, thiệp, album ảnh, sổ tay được làm thủ công
                đẹp, ý nghĩa, thân thiện với mọi người.
            </p>
        </li>
        <li class="contact col-6 mt-5">
            <p class="content fs-2 fw-bold">Liên hệ với chúng tôi</p>
            <div class="address d-flex">
                <i class="fa-solid fa-location-dot py-2" style="color: #4d8a54"></i>
                <p class="p-2">Địa chỉ: Lớp DH21DTC,Khoa Công Nghệ Thông Tin,</br> Trường Đại Học Nông Lâm TP.HCM</p>
            </div>
            <div class="hotline d-flex">
                <i class="fa-solid fa-mobile-screen py-2" style="color: #4d8a54"></i>
                <p class="p-2">Hotline : 1900 3456</p>
            </div>
            <div class="icon">
                <a class="me-3 fs-3" href=""><i class="fa-brands fa-twitter" style="color: #4d8a54"></i></a>
                <a class="mx-3 fs-3" href=""><i class="fa-brands fa-facebook" style="color: #4d8a54"></i></a>
                <a class="mx-3 fs-3" href=""><i class="fa-brands fa-square-instagram" style="color: #4d8a54"></i></a>
                <a class="mx-3 fs-3" href=""><i class="fa-brands fa-youtube" style="color: #4d8a54"></i></a>
            </div>
        </li>
    </ul>
    <div class="solid  m-auto "></div>
    <div class="content_end fs-6 fw-bold text-center">
        <p>Bản quyền thuộc về HEADQUARTERS| Cung cấp bởi HEADQUARTERS</p>
    </div>
</div>


</body>
</html>